body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
}
a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.example {
  -ms-overflow-style: none;
}
